body{
    padding-top: 130px;
    padding-left: 100px;
}


/* Media Queries for Responsiveness */
@media (max-width: 500px) {
    .video-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1000px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1; 
    font-size: 14px;
    color: #333; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-top: 1px solid #e1e1e1; 
}
